<div class="container">
    <div class="act-grp">
        <button>Title</button>
        <button>Url</button>
        <button><i class="fa fa-camera mr-1"></i>Thumbnail</button>
        <button><i class="fa fa-check"></i></button>
    </div>

    <ul class="opt-grp">
        <li>
            <button class="cls"><i class="fa fa-times"></i>
            </button>
            <label for="">Youtube</label>
            <img src="../../../../assets/thumbnail.png" alt="" width="120">
        </li>
    </ul>
</div>