<div class="desc-section">
    <div class="row mx-auto cst-bck">

        <div class="col-md-6 p-0 d-none d-md-block">
            <div class="image-container mx-auto">
                <img src="https://c5.patreon.com/external/marketing/index_page/creativity_over_everything_d.png" alt="">
            </div>
        </div>
        <div class="col-md-5 p-0 text-cnt p-4" data-aos="fade-left" data-aos-delay="300" data-aos-duration="600" data-aos-easing="ease-out-cubic">
            <div style="mix-blend-mode: 'difference';">
                <h1>Inspiration comes before the trend.</h1>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, exercitationem sunt debitis optio ad totam dolores temporibus corrupti alias provident unde animi tenetur impedit cum labore magni hic, minus fugit!
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>