
.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
    
 }
   
 .item-0 {
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 3;
    
    display:flex;
    justify-content: flex-end;
 
 }
 .item-1 {
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 7;
    display:flex;
    justify-content: flex-start;
 }
 