<div class="container d-flex flex-column align-items-center w-75">
    <div class="angry-grid w-100">
        <div class="item-0 p-3"><img [src]="user.icon || '../../assets/default-avatar.png'" width="58"
                class="rounded-circle" alt=""></div>
        <div class="item-1 p-3 flex-column justify-content-center">
            <h5>@{{user.username}}</h5>
            <a class="" href="">Cambia immagine profilo</a>
        </div>
    </div>
    <form action="" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="angry-grid w-100">
            <div class="item-0 p-3"><span class="text-nowrap">Nome e Cognome</span></div>
            <div class="item-1 p-3 flex-column justify-content-center">
                <div class="row p-0 m-0 w-100">
                    <div class="col-lg-6 pl-0">
                        <input type="text" id="firstName" class="form-control" [value]="user.firstName" placeholder="Firstname"
                            name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" required>
                    </div>
                    <div class="col-lg-6 pr-1">
                        <input type="text" id="lastName" class="form-control" [value]="user.lastName" placeholder="Lastname" name="lastName"
                            [(ngModel)]="user.lastName" #lastName="ngModel" required>
                    </div>
                </div>
                <div class="small text-muted mt-2">
                    Aiuta le persone a scoprire il tuo account usando il nome che ti rappresenta meglio: il tuo
                    nome e cognome, un soprannome o il nome dell'azienda.
                </div>
            </div>
        </div>

        <div class="angry-grid w-100">
            <div class="item-0 p-3"><span class="text-nowrap">Biografia</span></div>
            <div class="item-1 p-3 flex-column justify-content-center">
                <textarea name="biography" id="biography" cols="30" rows="4" id="biography" [value]="user.biography || ''" class="form-control" [value]="user.biography" placeholder="biography" name="biography"
                [(ngModel)]="user.biography" #biography="ngModel"></textarea>
                <div class="small text-muted mt-2">
                    Aiuta le persone a scoprire il tuo account usando il nome che ti rappresenta meglio: il tuo
                    nome e cognome, un soprannome o il nome dell'azienda.
                </div>
            </div>
        </div>

        <div class="angry-grid w-100">
            <div class="item-0 p-3"><span class="text-nowrap">Nome utente</span></div>
            <div class="item-1 p-3 flex-column justify-content-center">
                <input class="form-control" type="text" name="username" placeholder="username" id="biography" class="form-control"
                [(ngModel)]="user.username" #username="ngModel" [value]="user.username">
                <div class="small text-muted mt-4">
                    <h6>informazioni personali</h6>
                    Fornisci le tue informazioni personali, anche se l'account viene usato per un'azienda, un
                    animale domestico o qualcos'altro. Non saranno visibili sul tuo profilo pubblico.
                </div>
            </div>
        </div>

        <div class="angry-grid w-100">
            <div class="item-0 pl-3 pb-3 pr-3 pt-0"><span class="text-nowrap">E-mail</span></div>
            <div class="item-1 pl-3 pb-3 pr-3 pt-0 flex-column justify-content-center">
                <input type="text" class="form-control" readonly="false" placeholder="email" [value]="user.email">
            </div>
        </div>

        <div class="angry-grid w-100">
            <div class="item-0 p-3"><span class="text-nowrap">Numero di telefono</span></div>
            <div class="item-1 p-3 flex-column justify-content-center">
                <input type="number" class="form-control" placeholder="Numero di telefono" [value]="user.telephone || ''" name="telephone" id="telephone" [(ngModel)]="user.telephone" #telephone="ngModel">
            </div>
        </div>


        <button class="btn text-white m-4 w-25" type="submit" style="background-color: #06D6A0;">invia</button>
    </form>
</div>