<div class="container d-flex flex-column align-items-center w-75">
    <div class="angry-grid w-100">
        <div class="item-0 p-3"><img [src]="user.icon || '../../assets/default-avatar.png'" width="58"
                class="rounded-circle" alt=""></div>
        <div class="item-1 p-3 flex-column justify-content-center">
            <h5>@{{user.username}}</h5>
        </div>
    </div>

    <div class="angry-grid w-100">
        <div class="item-0 p-3"><span class="text-nowrap">Vecchia password</span></div>
        <div class="item-1 p-3 flex-column justify-content-center">
            <input type="text">
        </div>
    </div>
    <div class="angry-grid w-100">
        <div class="item-0 p-3"><span class="text-nowrap">Nuovapassword</span></div>
        <div class="item-1 p-3 flex-column justify-content-center">
            <input type="text">
        </div>
    </div>
    <div class="angry-grid w-100">
        <div class="item-0 p-3"><span class="text-nowrap">Conferma nuova password</span></div>
        <div class="item-1 p-3 flex-column justify-content-center">
            <input type="text">
        </div>
    </div>
    <button class="btn text-white m-4 w-25" [disabled]="true" style="background-color: #06D6A0;">invia</button>
</div>