<ul class="nav nav-tabs" role="tablist">
    <div class="slider"></div>
    <li role="presentation" class="active"><a class="active" href="#trenders" aria-controls="trenders" role="tab" data-toggle="tab">Trenders</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Things</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="trenders">
        <div class="container">
            <ul class="flex">
                <li class="item">
                    <i class="fa fa fa-music"></i>
                    <label for="">Musica</label>
                </li>
                <li class="item">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Videomaker</label>
                </li>
            </ul>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <div class="container cntr">
            <input type="text" class="search" placeholder="Search things..">
            <ul class="flex">
                <li class="item-sm">
                    <i class="fa fa fa-music"></i>
                    <label for="">Moda, abbigliamento e accessori</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Lusso</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-music"></i>
                    <label for="">Salute e bellezza</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-music"></i>
                    <label for="">Elettronica</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Gioielli e orologi</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-music"></i>
                    <label for="">Handmade</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Sport</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-music"></i>
                    <label for="">Cibi e cucina</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Film e serie</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-music"></i>
                    <label for="">Informatica</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Lettura</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Musica e strumenti</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Viaggi ed Eventi</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Veicoli</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Arredamento ed elettromestici</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Arte</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Fai da te e giardinaggio</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Immobiliari</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Industria</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Cancelleria</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Prima infanzia</label>
                </li>
                <li class="item-sm">
                    <i class="fa fa fa-video-camera"></i>
                    <label for="">Altro</label>
                </li>
            </ul>
        </div>
    </div>

</div>