<div class="row">
    <div class="col-md-2">
        <ul class="filter text-white w-100">
            <li class="filter-btn all">all</li>
            <li class="filter-btn">clothes</li>
            <li class="filter-btn">hoodies</li>
            <li class="filter-btn selected">cap</li>
            <li class="filter-btn selected">eletronics</li>
            <li class="filter-btn">shoes</li>
            <li class="filter-btn">uncategoriezed</li>
        </ul>
    </div>
    <div class="col-md-10">
        <!-- <ul class="merch-grid-trends p-0 m-0">
            <li (click)="initProductPost()" data-toggle="modal" data-target=".bd-example-modal-lg" class="item-card p-2 d-flex justify-content-center align-items-center text-center btn mh-20">
                <strong class="p-5">Nuovo Post</strong>
            </li>

            <li *ngFor="let post of productPosts; let i = index;" class="item-card p-2 position-relative">
                <div class="dropdown postion-absolute" style="top:5px; right:-40%">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton-{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      ...
                    </button>
                    <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton'+i">
                      <a class="dropdown-item">Edit</a>
                      <a class="dropdown-item pointer" (click)="onDelete(post['_id'])">Delete</a>
                    </div>
                  </div>
                <div class="img-desc d-flex flex-column justify-content-center align-items-center">
                    <img src="{{post.img}}" class="pointer"  [routerLink]="['/profile', 'name', 'product', post['_id']]" alt="merch image" width="130">
                    <p>{{post.description}}</p>
                </div>
                <h5>{{post.title}}</h5>
                <a data-toggle="collapse" href="#collapseExample-{{i}}" role="button" aria-expanded="false" [attr.aria-controls]="'collapseExample-'+ i">
                   Show Price
                </a>
                <div class="collapse" id="collapseExample-{{i}}">
                    <span class="price">price</span>
                </div>
            </li>
        </ul> -->

        <div class="container">
            <div class="card-columns" style="padding-left: 4.5em; padding-right: 4em;" [style.column-count]="col">
                <div (click)="initProductPost()" data-toggle="modal" data-target=".bd-example-modal-lg" class=" card p-2 d-flex justify-content-center align-items-center text-center btn">
                    <strong class="p-5">Nuovo Post</strong>
                </div>
                <div class="card position-relative text-center" *ngFor="let post of productPosts; let i = index;">
                    <div [routerLink]="['/profile', 'name', 'product', post['_id']]" class="pointer">
                        <div class="dropdown postion-absolute" style="top:5px; right: -40%;">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton-{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              ...
                            </button>
                            <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton'+i">
                              <a class="dropdown-item">Edit</a>
                              <a class="dropdown-item pointer" (click)="onDelete(post, post['_id'])">Delete</a>
                            </div>
                          </div>
                        <div class="img-desc d-flex flex-column justify-content-center align-items-center">
                            <img src="{{post.img}}" class="pointer"  alt="merch image" width="130">
                            <p>{{post.description}}</p>
                        </div>
                        <h5>{{post.title}}</h5>
                    </div>
                    <a data-toggle="collapse" href="#collapseExample-{{i}}" role="button" aria-expanded="false" [attr.aria-controls]="'collapseExample-'+ i">
                       Show Price
                    </a>
                    <div class="collapse" id="collapseExample-{{i}}">
                        <span>A partire da:</span>
                        <span class="price">{{post.price}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- modal for new post -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
        <div class="modal-content">
            <app-newposts [newpostId]="newPostId" (newPostEvent)="addProductPost($event)"></app-newposts>
        </div>
    </div>
</div>