<div class="container text-center cntr">
    <h3 class="mt-3">Draft (4)</h3>
    <div class="container wrp-cnt p-0 m-0">
        <div class="drft-crd" *ngFor="let i of [1,2,3,4,5,6]">
            <a class="cls-btn"><i class="fa fa-times"></i></a>
            <div class="crd-bdy rel">
                <img src="../../../../assets/jacket.jpg" alt="" width="52">
            </div>
            <div class="abs-cntr">
                <h6 class="ttl-nm">
                    Untitled {{i}}
                </h6>
            </div>
        </div>
    </div>
</div>